.color {
  color: red;
}
.guide-container {
  width: 100%;
  border: 1px solid red;
  display: flex;
}

.guide-description-quiz {
  width: 60%;
  border: 1px solid black;
}
.guide-description-quiz_steps {
  display: flex;
  width: 100%;
  border: solid green 1px;
}
.guide-description-quiz_steps_image {
  width: 10%;
  height: 100px;
  border: 1px solid pink;
  background-image: url("https://www.bhphotovideo.com/images/images2500x2500/phase_one_50500548_capture_one_pro_multi_user_1447834.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}
.guide-description-quiz_steps_description_card {
  width: 90%;
  border: 1px solid blue;
  height: 100px;
}

.guide-image {
  background-image: url("./img/QuizAnswer.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 40%;
  height: 30vh;
  border: 1px solid orange;
}
.guide-image:hover {
  transform: scale(2);
  transform-origin: right;
  cursor: zoom-in;
}
