<<<<<<< HEAD
body{
    font-family:'Montserrat' , sans-serif;
    background-color: #eee;
    
    
    
    
    .sidebar{
        height: 100vh;
        background: linear-gradient(rgb(0,0,0,0.7) rgb(0,0,0,0.9) url(baby/chess.jpg));
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        box-shadow: 5px 1px 25px #999;
    }   
    
.bottom-border{
    border-bottom: 1px groove(#999);
}
.sidebar-link{
    transition: all .4s;
}
.sidebar-link:hover{
    background-color: #444;
    border-radius: 5px;
}
.current{
    background-color: #f44336;
    background-radius: 7px;
    box-shadow: 2px 5px 10px #111;
    transition: all .3s;
}
.current:hover{
    background-color: f664366;
    border-radius: 7px;
    box-shadow: 2px 5px 20px #111;
    transform: translateY(-1px);
}
=======
>>>>>>> 6214b6722d6d51ce3de57b169df796a0f99da7eb
